@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translate(0);
        transform: translateY(0)
    }
    40% {
        -webkit-transform: translate(-20px);
        transform: translateY(-20px)
    }
    80% {
        -webkit-transform: translate(-10px);
        transform: translateY(-10px)
    }
}

.btns {
    text-align: center;
    margin-top: 50px;
}

.efeito {
    border: none;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 10px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
}

.efeito-1 {
    background-color: #28348A;
}

.efeito-1:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 64px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-1:hover:before {
    width: 100%;
}

.efeito-2 {
    background-color: #772150;
}

.efeito-2:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    transition: all 2s ease;
}

.efeito-2:hover:before {
    height: 64px;
}

.efeito-3 {
    background-color: #009c3d;
}

.efeito-3:hover {
    background: rgba(0, 0, 0, 0);
    color: #009c3d;
    box-shadow: inset 0 0 0 3px #009c3d;
}

.efeito-4 {
    background: #f18f01;
}

.efeito-4:hover {
    animation: bounce 1s;
}

.efeito-5 {
    background: #db3a34;
}

.efeito-5:hover {
    transform: skew(-10deg)
}

.efeito-6 {
    background: #376693;
    transform-style: preserve-3d;
}

.efeito-6:after {
    top: -100%;
    left: 0px;
    width: 100%;
    padding: 20px;
    position: absolute;
    background: #3a9999;
    border-radius: 10px;
    box-sizing: border-box;
    content: 'Mudou';
    transform-origin: left bottom;
    transform: rotateX(90deg);
}

.efeito-6:hover {
    transform-origin: center bottom;
    transform: rotateX(-90deg) translateY(100%);
}
