.container {
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;
    margin: 100px auto;
    width: 600px;
    
}

.text {
    color: white;
    background-color: darkblue;
    font-size: 96px;
    line-height: 200px;
    font-weight: bolder;
    text-align: center;
    mix-blend-mode: multiply;
}

.text-mask {
    font-size: 96px;
    line-height: 200px;
    font-weight: bolder;
    text-align: center;
    width: 600px;
    margin: auto;
    background-image: url(img.jpg);
    background-position: center;
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text
}
