body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

/* As Div's por padrão ja vem com diaplay block*/
.div-01 {
    background-color: red;
    height: 100px;
    width: 30%;
}

.div-02 {
    display: block;
    background-color: blue;
    height: 100px;
    width: 40%;
}

.p-01 {
    display: inline;
    color: red;
    font-weight: bold;
    text-decoration: underline
}

.div-03 {
    display: inline-block;
    background-color: green;
    height: 100px;
    width: 30%;
}

.div-04 {
    display: inline-block;
    background-color: orange;
    height: 100px;
    width: 40%;
}

.p-02 {
    display: none;
    color: blue;
    font-weight: bold;
    text-decoration: underline
}
