body {
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    background: 
    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

    radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
    radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
    radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 75%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "text image";
    background-color: white;
}

.item-01 {
    grid-area: text;
    padding: 20px;
}

.item-02 {
    grid-area: image;
    position: relative;
    overflow: hidden;
}

.item-02::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 100%;
    top:0;
    left:0;
    background-color: white;
    transform: skewX(-10deg);
    transform-origin: top left;
}
