body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.img-1 {
    float: left;
    shape-outside: circle(50%);
    margin: 1rem 1rem 1rem 0rem;
}

.img-2 {
    float: left;
    shape-outside: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    margin: 0rem 1rem 1rem 0rem;
}

.img-3 {
    float: left;
    shape-outside: inset(2rem 0 1.7rem 0);
    
}

.img-4 {
    float: left;
    shape-outside: url(award.png);
    
}

.col {
    align-self: stretch;
    margin: 1rem .5rem 1rem .5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 4px 0 lightgray;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-color: grey;
}