body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    
}

/* seletor de descendência */
.list-01 a {
    color: red;
}

/* seletor adjacente */
.list-02 + a{
    color: red;
}

/* seletor descendente */
.list-03 > li > a {
    color: red;
}

.col {
    align-self: stretch;
    margin: 1rem .5rem 1rem .5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0px 4px 0px lightgray;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 100vh;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}