body {
    margin: 0px;
    padding: 0px;
    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size:110px 200px;
    background-repeat:repeat-x;
}

img {
    width: 60%;
    height: 100vh;
    object-fit: cover;
}

.header {
    display: flex;
}

.text {
    width: 40%;
    margin-top: 200px;
    text-align: center;
}