body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    background-color: lightgray;
    padding: .75rem 1rem;
    border: solid 1px gray;
    margin-bottom: -1px;
}

li:first-child {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

li:last-child {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

li:nth-child(odd) {
    background-color: white;
}

li:nth-child(even) {
    background-color: lightcyan;
}

p:nth-child(3n+0) {
     background-color:yellow;
}

.col {
    align-self: stretch;
    background-color: white;
    margin: 5rem;
    padding: 5rem;
    border-radius: 1rem;
    border-bottom: .25rem solid lightgray;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: grey;
}