body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    background-image: 
        linear-gradient(
            to top right,
            blueviolet,
            darkmagenta
        );
}

.btn {
    padding: 2rem 4rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background-color: tomato;
    position: relative;
    transition: all 0.5s;
}

.btn::before {
    content: "";
    position: absolute;
    bottom: -1rem;
    height: 1rem;
    width: 100%;
    left: 0.5rem;
    background-color: red;
    transform: skewX(45deg);
    transition: all 0.5s;
}

.btn::after {
    content: "";
    position: absolute;
    right: -1rem;
    width: 1rem;
    height: 100%;
    bottom: -0.5rem;
    background-color: darkred;
    transform: skewY(45deg);
    transition: all 0.5s;
}

.btn:active {
    margin: 0.75rem 0rem 0rem 0.75rem;
}

.btn:active::before {
    bottom: -0.5rem;
    left: 0.25rem;
    height: 0.5rem;
}

.btn:active::after {
    right: -0.5rem;
    width: 0.5rem;
    bottom: -0.25rem;
}