body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

h1 {
    text-align: center;
    place-self: center;
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    z-index: 10;
}

.box {
    display: grid;
    width: 50vw;
    height: 30vh;
    place-self: center;
    border-radius: 2rem;
   
}

.box::before {
    content: "";
    display: block;
    position: absolute;
    width: 50vw;
    height: 30vh;
    border-radius: 2rem;
    background-image: 
        linear-gradient(
            to right top,
            green,
            yellow
        );
    mix-blend-mode: multiply;
    z-index: 1;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(
            to right top,
            red,
            blue
        ),   
        url(img.jpg);
    background-size: cover;
    background-blend-mode: screen;
}