body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.embed {
    position: relative;
    width: 100%;
    /*padding-bottom: 56.25%; =>> resolução 16:9*/
    padding-bottom: 75%; /*=>> resolução 4:3*/
}

.embed iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

.col {
    place-self: center;
    width: 50vw;
    margin: 1rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 4px 0 lightgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    background-color: gray;
}