body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.col {
    align-self: stretch;
    margin: 5rem;
    padding: 5rem;
    border-radius: 1rem;
    /*border-bottom: .25rem solid lightgray;*/
}

.col-1 {
    background-image: 
        repeating-linear-gradient(
            to right,
            yellow,
            yellow 10px,
            green 10px,
            green 20px
        );
}

.col-2 {
    background-image: 
        repeating-radial-gradient(
            circle at top right,
            lightblue,
            lightcyan 40px
        );
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    width: 100%;
    height: 100vh;
    background-color: grey;
}