body {
    margin: 0px;
    padding: 0px;
}

.item01 {
    grid-area: top-left;
    align-self: stretch;
    background-color: lightblue;
    background-image: url(star.png);
    background-repeat: space;
}

.item02 {
    grid-area: top-right;
    align-self: stretch;
    background-image:
    linear-gradient(
        rgba(0,0,255,0.5),
        rgba(0,0,255,0.5)
    ),
    url(img.jpg);
    background-size: cover;
}

.item03 {
    grid-area: botton-left;
    align-self: stretch;
    background-image: 
        url(c-1.png),
        url(c-2.png),
        url(c-3.png),
        url(c-4.png),
        url(h-1.png),
        url(h-2.png),
        url(v-1.png),
        url(v-2.png);
    background-position: 
        top left,
        top right,
        bottom left,
        top left,
        bottom left,
        top left,
        top right;
    background-repeat: 
        no-repeat,
        no-repeat,
        no-repeat,
        no-repeat,
        repeat-x,
        repeat-x,
        repeat-y,
        repeat-y;
}

.item04 {
    grid-area: botton-right;
    align-self: stretch;
    background-color: blue;
    display: grid;
}

.item04 h1 {
    align-self: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder;
    padding: 0px 10px
}

.item04 h1::before,
.item04 h1::after {
    content: url(star.png);
    display: inline-block;
    width: 48px;
    height: 48px
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "top-left top-right"
        "botton-left botton-right";
    width: 100%;
    height: 100vh;

}