body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    background-image: url(terra.png);
    background-repeat: no-repeat;
    width: 4rem;
    height: 3rem;
    color: transparent;
    text-shadow: none;
    font: 0/0 a;
    
}

.col {
    place-self: center;
    width: 50vw;
    margin: 1rem;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 0px lightgray;
    background-color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: 100vh;
    background-color: gray;
}