body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}

.duotone-filter {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -999px;
}

.container {
    place-self: center;
    width: 50vw;
    height: 50vh;
    border-radius: 1rem;
    background-image: url(img.jpg);
    background-size: cover;
    filter: url(#duotone-1)
}