body {
    margin: 0px;
    padding: 0px;
}

.div-01 {
    line-height: 100px;
    width: 500px;
    background-color: red;
    border-right: 50px solid coral;
    padding-right: 50px;
    text-align: right;
    box-sizing: content-box;
    margin: 20px 0;
    color: white;
}

.div-02 {
    line-height: 100px;
    width: 500px;
    background-color: blue;
    border-right: 50px solid cyan;
    padding-right: 50px;
    text-align: right;
    color: white;
    box-sizing: border-box;
}

/* CONCLUSÃO

DIV-01 = 500px + 50px + 50px

DIV-02 = 500px - 50px - 50px