.team {
    background-image: url(../img/bc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0px;
}

.name {
    color: #003366;
    border-bottom: solid 1px #003366;
    padding-bottom: 5px; 
    margin-top: 30px;
}