body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background:
    linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
    linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
    linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
    background-color:#e1ebbd;
    background-size: 128px 128px; */
     background-color:lightgray;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 0;
    margin: 10px 0px;
}

.container {
    width: 70%;
    margin: 0px auto;
    padding: 100px 0px;
    display: grid;
    grid-template-columns: 30% auto auto;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: 
        "header header header"
        "sidebar content content"
        "footer footer footer";

}

.item-01 {
    grid-area: header;
    background-color: white;
    padding: 20px;
}

.item-02 {
    grid-area: sidebar;
    background-color: lightskyblue;
    padding: 20px;
}

.item-03 {
    grid-area: content;
    background-color: white;
    padding: 20px;
}

.item-04 {
    grid-area: footer;
    background-color: white;
    padding: 20px;
}

.bg {
    background-image: 
        linear-gradient(
            to top right,
            purple,
            tomato
        ),
        url(img.jpg);
        background-blend-mode: lighten;
        background-size: cover;
        background-attachment: fixed;
}

.bg-svg {
     fill: lightgray;
     width: 100%
}

