body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    background-image: url(img.jpg);
    background-size: cover;
}

.col {
    align-self: center;
    margin: 1rem .5rem 1rem .5rem;
    padding: 5rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 4px 0 lightgray;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    width: 990px;
    height: 100vh;
    margin: 0px auto;
}