body {
    margin: 0px;
    padding: 0px;
}

.item01 {
    grid-area: top-left;
    align-self: stretch;
    background-image: 
        radial-gradient(
            lightblue,
            darkblue
        );
}

.item02 {
    grid-area: top-right;
    align-self: stretch;
    background-image:
        radial-gradient(
             circle at top left,
            yellow,
            red 100%
        );
}


.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "top-left top-right";
    width: 100%;
    height: 100vh;

}