body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    grid-area: img-header;
}

.text {
    text-align: center;
    grid-area: text-header;
}

.header {
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "img-header text-header";
}

