body {
    margin: 0px;
    padding: 0px;
}

.item01 {
    grid-area: top-left;
    align-self: stretch;
    background-image: linear-gradient(
        to top right,
        red, blue
    )
}

.item02 {
    grid-area: top-right;
    align-self: stretch;
    background-image: linear-gradient(
        -30deg,
        green, yellow, red
    )
}

.item03 {
    grid-area: botton-left;
    align-self: stretch;
    background-image: linear-gradient(
        to right,
        blue 20%,
        yellow 20%,
        yellow 80%,
        blue 80%
    )
}

.item04 {
    grid-area: botton-right;
    align-self: stretch;
    background: grey;
    background-image:
        linear-gradient(
            to bottom,
            rgba(0,0,0,0),
            rgba(0,0,0,1)
        ), 
        url(img01.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "top-left top-right"
        "botton-left botton-right";
    width: 100%;
    height: 100vh;

}