body {
    margin: 0px;
    padding: 0px;
}

.item01 {
    grid-area: top-left;
    align-self: stretch;
    background-color: darkred;
    display: grid;
}

.item02 {
    grid-area: top-right;
    align-self: stretch;
    background-color: darkblue;
    display: grid;
}

.btn {
    place-self: center;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-decoration: none;
    padding: 24px;
}

.btn-1 {
    border: solid 10px lightcoral;
    transition: border-width 0.8s linear
}

.btn-1:hover {
    border-width: 15px;
}

.btn-2 {
    box-shadow: 0px 0px 0px 10px lightblue;
    transition: box-shadow 0.8s linear
}

.btn-2:hover {
    box-shadow: 0px 0px 0px 15px lightblue;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "top-left top-right";
    width: 100%;
    height: 100vh;
}