body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

img::after {
    content: "Desculpe algo deu errado";
    padding: 1rem;
    background-color: lightgray;
    border-radius: 1rem;
    box-shadow: 0px -2px 0px grey;
    margin-top: 1rem;
    display: table;
}

.box {
    display: grid;
    width: 50vw;
    height: 50vh;
    place-self: center;
    background-color: white;
    border-radius: 1rem;
    padding: 3rem;
    box-shadow: 0px 6px 0px lightgray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    align-items: stretch;
    width: 100%;
    height: 100vh;
    background-color: grey;
}