body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: gray;
}

p:first-of-type:first-letter {
    float: left;
    color: red;
    font-weight: bold;
    font-size: 4rem;
    line-height: 3rem;
    padding: 10px 10px 0px 0px;
}

.col {
    align-self: center;
    margin: 1rem .5rem 1rem .5rem;
    padding: 3rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0 4px 0 lightgray;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    width: 990px;
    height: 100vh;
    margin: 0px auto;
}