body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background:
    linear-gradient(135deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
    linear-gradient(225deg, #708090 22px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;
    background-color:#708090;
    background-size: 64px 128px
}

.container {
    width: 75%;
    height: 500px;
    margin: 100px auto;
    display: grid;
    justify-items: center;
    align-items: end;
    background-color: white;
    border-bottom: solid 4px darkslategray;
}

.item-01 {
   width: 100px;
   height: 100px;
   background-color: blue;
   border-radius: 50%;
   animation: bounce 2s ease infinite;
}

@keyframes bounce {
    0% { transform: scale(1,1) translateY(0); }
    5% { transform: scale(1.1,0.9) translateY(0); }
    25% { transform: scale(0.9,1.1) translateY(-200px); }
    50% { transform: scale(1.1,0.9) translateY(0); }
    60% { transform: scale(0.9,1.1) translateY(-40px); }
    70% { transform: scale(1.1,0.9) translateY(0); }
    100% { transform: scale(1,1) translateY(0); }
}
